<!DOCTYPE html>
<head>
  <style>
        body {  background: AliceBlue    }
        p { color: LightSteelBlue ;}
        h1 { color: Lightsteelblue ;}
        a {
          color:LightSteelBlue ;}
    </style>
     <link rel="stylesheet" href="style.css"> 
</head>
<body> <h1>This is my summer </h1>
  <p>
    this was how my summer was spent. I grinded genhin impact on a probably bad daily basis, and enhanced my gambling addiction. i lost my 50/50 to <b>deyha</b> when i wanted the pyro achron! that night i cried.
  </p>
  <p>
   Then i had to listen to this annoying useless pixelled dragon talk about himself. but i think hes just fatherless and is looking for some justication for being a pain in the butt to deal with my opinion peronally</p>
 
  <p> I also spent my time pushing throught a power point presentation for an anime, second season of blue lock.</p>
  <p>but nothing brought me more pain then when i spent seven or more hours interacting with some indentifed chromosomes before we venture out into the cold just to watch firewworks shoot out faster then i could run for food.</p>
<p>honestly waste of time when i could have been playing genhin impact. oh and i had my birthday.i spent it mainly with my family, i got to make by very own cake! a nice strawberry short cake with a sponge base and sweet light cream with fresh strawberries. i got to eat it with some close family friends, it was nice and everyone thought it tasted good. </p>
<p>i also got to go out with my other friends on a different day with three of them, a got a bag a paimon firgure and a paimon keychain, a full kitkat and nail polish. then on another day earlier with a different freind she made me a bunch of cinnamoroll stickers and cotttom rose, she and i got to hang out a bunch.</p>
<p>Want to head back? Click on the <a href="index.html">Index page</a>.</p>
</body>