<!DOCTYPE html>
 <!--i like these colours together-->
<html> 
  <head>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
  <style>
        body {  background: LightYellow    }
        p { color: DarkKhaki ;}
        h1 { color: DarkKhaki ;}
        a {
  color:DarkKhaki;}
        
    </style> <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>
     My webpage
  </h1>
  <p>
    Hi my name is Isabelle, a student of this digital coding class. 
  </p>
   <p>Here are some facts about transofrmers.</p>
  <p>Check out the <a href="about.html">About page</a>.</p>
</body>
</html>
